# ─────────────────────────────────────
# PostgreSQL (Docker)
# ─────────────────────────────────────
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=proyectosya
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres


# --- Qdrant ---
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334


# --- GEMINI ---
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=your_gemini_model_here

# --- MERCADOPUBLICO INGESTION ---
MERCADOPUBLICO_FETCHING_LIMIT=2000
MERCADOPUBLICO_DETAIL_DELAY=2.0
